body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.tamagotchiContainer {
    width: 300px;
    height: 400px;
    background-color: #46dbac;
    border: 10px solid #212121;
    border-radius: 115px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tamagotchiTitle {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-family:  monospace;
}

.tamagotchiScreen {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border: 5px solid #333;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #333;
    text-align: center;
}

.tamagotchiBtn button {
    width: 80px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    background-color: #f54f32;
    border: 2px solid;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight:800;
    font-family:  monospace;
}

.tamagotchiBtn button:hover {
    background-color: #ff3300;
}

.tamagotchiBtns {
    display: flex;
    justify-content: center;
}
